<h1>Articles Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @products.each do |product| %>
    <li>
      <h3>
        <%= link_to product.title, controller: "products", action: "show", id: product._id%>
      </h3>
    </li>
  <% end %>
</ul>